
<section id="signup" class="theme-callout" style="background-image: url({{ '/assets/img/content/teachers_page_header.jpg' | relative_url }})">
  <div class="color-overlay"></div>
  <div class="container">
    <h2>Lid Worden.</h2>
    <p>
      Vergroot de daadkracht van de vereniging, ontmoet enthousiaste vakgenoten en collega’s,
      wissel ervaringen uit en inspireer elkaar.
    </p>
    <div class="action">
      <a href="{{ '/lid-worden' | relative_url }}" class="btn btn-lg btn-light">Aanmelden &raquo;</a>
    </div>
  </div>
</section>
