
    <section id="footer">
      <div class="container">
        <hr>
        <div class="row">

          <div class="col-md-2 col-sm-6">
            <h2><img title="{{ site.title }}" alt="{{ site.title }}" src="{{ site.logo.light | relative_url }}" onclick="javascript:window.location='//{{ site.domain }}'"></h2>
            <p class="legal">&copy; {{ 'now' | date: '%Y' }}</p>
          </div>
          <div class="col-md-3 col-sm-6">
{% capture md2html %}
  - Vereniging
  - [Nieuws]({{ '/nieuws' | relative_url }})
  - [Lid worden]({{ '/lid-worden' | relative_url }})
  - [Visie Digitale Geletterdheid]({{ '/curriculum' | relative_url }})
{% endcapture %}
{{ md2html | markdownify }}
          </div>
          <div class="col-md-3 col-sm-6">
{% capture md2html %}
  - Projecten
  {% for project in site.projects %}- [{{ project.title }}]({{ project.url | relative_url }})
  {% endfor %}
{% endcapture %}
{{ md2html | markdownify }}
          </div>
          <div class="col-md-2 col-sm-6">
{% capture md2html %}
  - Social Media
  - [Twitter](https://twitter.com/{{ site.twitter }})
  - [LinkedIn](https://linkedin.com/{{ site.linkedin }})
  - [Discussiegroep](https://linkedin.com/{{ site.linkedingroup }})
{% endcapture %}
{{ md2html | markdownify }}
          </div>
          <div class="col-md-2 col-sm-6">
{% capture md2html %}
  - Over ons
  - [Visie]({{ '/over-ons' | relative_url }})
  - [Het Team]({{ '/over-ons#het-team' | relative_url }})
  - [Privacy]({{ '/privacy' | relative_url }})
  - [Contact]({{ '/over-ons#contact' | relative_url }})
{% endcapture %}
{{ md2html | markdownify }}
          </div>
        </div>
      </div>
    </section>
