
<form id="form-signup" method="post" action="https://script.google.com/macros/s/{{ site.credentials.gs }}/exec">

  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="signup.name">Naam</label>
    <input id="full-name" name="name" autocomplete="name" type="text" class="form-control form-control-lg">
  </div>

  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="signup.email">E-mail</label>
    <input id="email" name="email" autocomplete="email" type="email" class="form-control form-control-lg">
  </div>

  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="signup.address.*">Adresgegevens</label>
    <div class="row">
      <div class="col-md-6">
        <input id="postcode" name="postcode" autocomplete="postal-code" type="text" class="form-control form-control-lg" placeholder="Postcode">
      </div>
      <div class="col-md-6">
        <input id="number" name="number" autocomplete="housenumber" type="text" class="form-control form-control-lg" placeholder="Huisnummer">
      </div>
      <div class="col-md-12 invalid-feedback" id="postcodeapi-error"></div>
      <div class="col-md-12">
        <input id="street" name="street" autocomplete="none" type="text" class="form-control form-control-lg" placeholder="Straat">
      </div>
      <div class="col-md-12">
        <input id="city" name="city" autocomplete="none" type="text" class="form-control form-control-lg" placeholder="Stad">
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="signup.work">Waar bent u werkzaam?</label>
    <input id="work" name="work" autocomplete="none" type="text" class="form-control form-control-lg">
  </div>incasso

  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="signup.iban">Mobiel nummer </label>
    <input id="iban" name="iban" type="text" class="form-control form-control-lg" placeholder="Mobiel nummer">
  </div>

  <input type="hidden" name="type" value="aanmeldingen">

  <div class="form-group g-recaptcha" data-sitekey="{{ site.credentials.recaptcha }}"></div>

  <button id="submit" type="submit" class="btn btn-lg btn-primary float-right">Aanmelden</button>

</form>


{% capture scripts %}
    <script src="/assets/js/libs/mask.min.js"></script>
    <script src="/assets/js/signup.js"></script>
    <script src="/assets/js/libs/postcodeapi.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endcapture %}
