
<div id="form-contact">

  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="contact.name">Naam</label>
    <input id="contact.name" autocomplete="name" type="text" class="form-control form-control-lg">
  </div>

  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="contact.email">E-mail</label>
    <input id="contact.email" autocomplete="email" type="email" class="form-control form-control-lg">
  </div>

  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="contact.message">Bericht</label>
    <textarea id="contact.message" class="form-control form-control-lg"></textarea>
  </div>

</div>

<button id="submit" type="button" class="btn btn-lg btn-primary float-right">Versturen</button>
