<h2>Actueel</h2>
<p>
	<ul>
		<li>
			<a href="https://ieni.org/nieuws/Mathe-Magische-Kunst/">Aanmelden voor Mathe Magische Kunst</a>. <em>Aanmelden kan nu</em>
		</li> 

		<li>
			<a href="https://ieni.org/projecten/digitale-geletterdheid-2019/"> Digitale geletterdheid - curriculum.<em>nu!</em></a>
		</li> lees alles over Digitale geletterdheid.
		<li>
			 <a href="https://ieni.org/nieuwsbrief"> i&i laatste nieuws & nieuwsbrieven</a>
		</li>
		<li> <a href="https://forum.ieni.org" target="_blank">i&i forum</a> - voor informatica en digitale geletterdheid </li>
		<li>
	     <a href="https://ieni.github.io/inf2019" target="_blank">SLO-keuzethema-materiaal</a> 
    </li>
	</ul>
</p>
