<h2>Actueel</h2>
<p>
	<ul>
		<li>
			[Nascholing informatica-actief.nl](/website/_posts/2021-01-26-Nascholing-informatica-actief.md)">Nascholing informatica-actief.nl</a>
		</li> Data en aanmelden
		<li>
			<a href="https://ieni.org/nieuws/Mathe-Magische-Kunst/">Aanmelden voor Mathe Magische Kunst</a>. 
			<b>Aanmelden kan nu!</b>
		</li> 

		
		<li>
			 <a href="https://ieni.org/nieuwsbrief"> i&i laatste nieuws & nieuwsbrieven</a>
		</li>
		<li> <a href="https://forum.ieni.org" target="_blank">i&i forum</a> - voor informatica en digitale geletterdheid </li>
		<li>
	     <a href="https://ieni.github.io/inf2019" target="_blank">SLO-keuzethema-materiaal</a> 
    </li>
	</ul>
</p>
