<h2>Actueel</h2>
<p>
	<ul>
		<li>
			<a href="https://microbit.studio/microblocks-fun/">MicroBlocks.fun nu <em> in het Nederlands</em>
		</li> incl. lesbrieven.

		<li>
			<a href="https://ieni.org/projecten/digitale-geletterdheid-2019/"> Digitale geletterdheid - curriculum.<em>nu!</em>
		</li> lees alles over Digitale geletterdheid.
		<li>
			 <a href="https://ieni.org/nieuwsbrief"> i&i laatste nieuws / nieuwsbrieven</a>
		</li>
		<li> <a href="https://forum.ieni.org" target="_blank">i&i forum</a> - voor informatica en digitale geletterdheid </li>
		<li>
	     <a href="https://ieni.github.io/inf2019" target="_blank">SLO-keuzethema-materiaal</a>
    </li>
	</ul>
</p>
