.members
  text-align: center

  .member

    img
      border-radius: .75em
      margin-bottom: 1em
      max-width: 175px // FIX: hard-coded for team member profile images.

    .name
      font-weight: bold
      font-size: $text-size

    .role
      font-style: italic
