#author
  background-color: $color-brand
  color: $color-white
  padding-top: 2em
  padding-bottom: 2em

  img
    border-radius: .75em

  a
    color: $color-white
    text-decoration: underline

#comments
  padding-top: 2em
  font-size: 20px
