<!DOCTYPE html>
<html lang="{{ site.locale }}">
  <head>
    {% include head.html %}

    <style>
      #footer { margin-top: 0; }
    </style>
  </head>
  <body>

    {% include navigation.html %}

    {% include header.html %}

    <section id="content">
      <div class="container">
        {{ content }}
      </div>
    </section>

    <section id="project"
    {% if page.customBackgroundImage %}
    style="background-image: url({{ page.customBackgroundImage }});"
    {% endif %}
    >
      <div class="color-overlay"></div>
      <div class="project-contents container">
        {% if page.image %}
        <img src="{{ page.image }}">
        {% endif %}
        {% if page.website %}
        <h2>
          {% capture defaultReadMore %}
          Kom meer te weten over {{ page.prefix }} {{ page.title }}
          {% endcapture %}
          {% if page.customReadMore %}
            {{ page.customReadMore }}
          {% else %}
            {{ defaultReadMore }}
          {% endif %}
        </h2>
        <a href="{{ page.website }}" target="_blank" class="btn btn-lg btn-light">{{ page.customWebsiteTitle | default: "Ga naar de website" }}</a>
        {% endif %}
      </div>
    </section>

    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
